<footer>
    <a href="https://www.instagram.com/wloofencing/" target="_blank">
        <img src="{{ site.baseurl }}/assets/imgs/instagram.png">
    </a>
    <a href="https://athletics.uwaterloo.ca/sports/fencing" target="_blank">
        <img src="{{ site.baseurl }}/assets/imgs/uwathletics.png">
    </a>
    <a href="https://discord.gg/HFP79yn7HN" target="_blank">
        <img src="{{ site.baseurl }}/assets/imgs/discord.png">
    </a>
    <br>
    <a href="https://imodules.uwaterloo.ca/s/1802/21/form.aspx?sid=1802&gid=2&pgid=794&cid=1873" target="_blank"><u>Donate to the team!</u></a><br>
    ©2024 University of Waterloo Fencing Club
</footer>
