---
---
body {
    background-image: url('{{ site.baseurl }}/assets/imgs/background.png');
    background-repeat: repeat-y;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

nav {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 1% 0%;
}

nav a {
    height: 100%;
    padding-left: 2%;
    min-width: min-content;
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: flex;
    font-weight: lighter;
}

nav a img {
    max-height: 30px;
    width: auto;
}

nav a.active {
    color: #ffd100;           
    font-weight: bold;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
}


footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-weight: lighter;

    a {
        color: #ffd100;
        text-decoration: none;
        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: 100%;
}

.nav-text {
    margin: auto;
}

.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('{{ site.baseurl }}/assets/imgs/home_banner.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    font-size: 7rem;
    font-weight: bolder;
}

.home-programs {
    margin: auto;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 22vw;
    line-height: 22vw;
    background-image: url('{{ site.baseurl }}/assets/imgs/programs.png');
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.home-content {
    text-align: center;
    font-size: 1.3em;
    padding: 5%;
    margin: auto;
}

.home-faq {
    margin: auto;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 22vw;
    line-height: 22vw;
    background-image: url('{{ site.baseurl }}/assets/imgs/faq.png');
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.home-varsity {
    margin: auto;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 22vw;
    line-height: 22vw;
    background-image: url('{{ site.baseurl }}/assets/imgs/varsity.png');
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.too-short {
    min-height: 89vh;
}

.content-with-margins {
    a {
        color: #ffd100;
    }
    margin: 0% 10%;
    padding-bottom: 2%;
    div {
        display: flex;
        align-items: center;
        img {
            width: 40%;
            border-radius: 2%;
        }
        p {
            display: inline-block;
            line-height: 1.5;
            vertical-align: middle;
            padding-left: 10%;
            width: 40%;
        }
    }
}

.faq {
    margin: 0% 10%;
    align-items: left;
    p {
        text-align: left;
    }
    h3 {
        text-align: left;
        color: #ffd100;
        margin: 0px;
        padding-top: 2%;
        padding-bottom: -1%;
    }
    a {
        color: #ffd100;
    }
}

.how-to-join-spacing {
    gap: 2%;
}

.align-top-block > div {
    display: flex;
    align-items: flex-start; 
}

.line {
    width: 50%;
    display: inline-block;
    border: 1px solid #fff;
    align-items: left;
}

.img-box-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img-box {
    width: 25% !important;
    display: inline-block;
    
    img {
        width: 100% !important;
        display: block;
    }
    figcaption {
        text-align: center;
    }

}

.random-extra-space {
    width: 50%;
}

.yellow-button {
    background-color: #ffd100;
    color: #000 !important;
    border-radius: 3%;
    padding: 0.6rem;
    text-decoration: none;
}

.yellow-button:hover {
    background-color: #79681a;
    color: #fff
}

.person-block {
    p {
        padding-right: 5%;
    }
    padding-bottom: 5%;
}

.mobile-only {
    display: none !important;
}

.pc-only {
    display: inline-block !important;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav > a.nav-text, .random-extra-space {
        display: none;
    }

    nav.open {
        flex-direction: column;
        align-items: flex-start;
    }

    nav.open > a.nav-text {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }

    .home-banner {
        font-size: 3rem;
    }
    p {
        font-size: small;
    }

    .home-programs, .home-faq, .home-varsity {
        font-size: 1rem;
    }

    .img-box-holder {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .img-box {
        width: 100% !important;
        display: inline-block;
        
        img {
            width: 100% !important;
            display: block;
        }
        figcaption {
            text-align: center;
        }
    }

    .person-block {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        width: 100%;
    }

    
    .person-block p {
        display: block !important;
        width: 100% !important;
        padding: 0 !important;
    }


    .person-block img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .mobile-only {
        display: inline-block !important;
    }

    .pc-only {
        display: none !important;
    }

}