---
---
<!DOCTYPE html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/imgs/logo.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <meta property="og:title" content="University of Waterloo Fencing Club"/>
    <meta property="og:description" content="UW Fencing!"/>
    <meta property="og:image" content="{{ site.baseurl }}/assets/imgs/logo.png"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta name="theme-color" content="#ffd100">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
</body>
