---
---
<!DOCTYPE html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}"
    <link rel="icon" href="{{ site.baseurl }}/assets/imgs/logo.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <meta property="og:title" content="University of Waterloo Fencing Club {{ page.title }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ site.baseurl }}/assets/imgs/logo.png"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta name="theme-color" content="#ffd100">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Bd9JsXdM3E6jlzFFIlwrU-j7ZUT67pTL6FrKvNQuatg" />
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "SportsClub",
    "name": "University of Waterloo Fencing Club",
    "url": "https://uwfencing.com",
    "logo": "https://uwfencing.com/assets/imgs/logo.png",
    "sameAs": [
        "https://www.instagram.com/wloofencing",
        "https://athletics.uwaterloo.ca/sports/fencing"
    ],
    "location": {
        "@type": "Place",
        "name": "University of Waterloo",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Waterloo",
            "addressRegion": "Ontario",
            "addressCountry": "Canada"
        }
    },
    "description": "{{ page.description }}",
    "sport": "Fencing"
    }
    </script>
</head>
<body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
</body>
