---
layout: default
---
<div class="home-banner">
    Welcome
</div>
<div class="content-with-margins">
    <div class="home-content">
        <img src="{{ site.baseurl }}assets/imgs/carousel/c0.png" id="carousel">
        <p>{{ site.data.home.funtext1 }} <br><br>
        {{ site.data.home.funtext2 }} <br><br>
        {{ site.data.home.funtext3 }} </p>
    </div>
    <div class="home-links">
        <a href="{{ site.baseurl }}programs-and-fees/" class="home-programs">
            Programs
        </a>
        <a href="{{ site.baseurl }}faq" class="home-faq">
            FAQ
        </a>
        <a href="{{ site.baseurl }}varsity" class="home-varsity">
            Varsity
        </a>
    </div>
</div>
<script src="{{ site.baseurl }}assets/js/carousel.js"></script>
