---
layout: default
---
<div class="content-with-margins too-short">
    <h1>How to Join</h1>
    <div>
        <p>
            Buying a club membership
            <br><br>
            Visit the <a href="https://warrior.uwaterloo.ca/Membership/Index" target="_blank">club memberships page</a> on the Warrior Athletics Website. You must be a current student or alumni/employee with a gym membership in order to view this page.
            <br><br>
            If you are looking to attend one of our free sessions, select the "CLUB TRY-IT MEMBERSHIP". Otherwise, choose between the "FENCING CLUB MEMBERSHIP" -"INTRODUCTORY",
            <br>
            -"EQUIPMENT RENTAL", or
            <br>
            -"PERSONAL EQUIPMENT" based on your skill level. Then, click "ADD TO CART" and checkout to complete your purchase.
        </p>
        <img src="{{ site.baseurl }}assets/imgs/membership.png">
    </div>

</div>
