---
layout: default
---
<div class="content-with-margins too-short">
    <h1>How to Join</h1>
    <div class = "how-to-join-spacing">
        <p>
            Buying a club membership
            <br><br>
            Visit the <a href="https://warrior.uwaterloo.ca/Membership/Index" target="_blank">club memberships page</a> on the Warrior Athletics Website. You must be a current student or alumni/employee with a gym membership in order to view this page.
            <br><br>
            If you are looking to attend one of our free sessions, select the "CLUB TRY-IT MEMBERSHIP". Otherwise, choose between
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;➼ "FENCING - INTRODUCTORY/BEGINNER"
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;➼ "FENCING - EQUIPMENT RENTAL"
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;➼ "FENCING - PERSONAL EQUIPMENT", or
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;➼ "FENCING (OPEN)"
            <br>
            based on your skill level. Then, click "ADD TO CART" and checkout to complete your purchase.
        </p>
        <img src="{{ site.baseurl }}assets/imgs/membership.png">
    </div>

</div>
