---
layout: default
---
<div class="content-with-margins">
    <h1>Programs and Fees</h1>
    <div>
        <img src="{{site.data.program-and-fees.image1}}">
        <p>
            {{site.data.program-and-fees.text1}}
        </p>
    </div>
    <p>{{site.data.program-and-fees.betweentext1}}</p>
    <div>
        <img src="{{site.data.program-and-fees.image2}}">
        <p>
            {{site.data.program-and-fees.text2}}
        </p>
    </div>
    <p>{{site.data.program-and-fees.betweentext2}}</p>
    <div>
        <img src="{{site.data.program-and-fees.image3}}">
        <p>
            {{site.data.program-and-fees.text3}}
            <br><br>
            <a href="/varsity">Featured Results</a>
        </p>
    </div>
    <p>{{site.data.program-and-fees.betweentext3}}</p>
</div>
